/* --- Reset --- */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html.adaptive {
    background: #334;
    color: #bcd;
    outline: 5px dotted #000;
  }
}

body {
  min-height: 100vh;
  font-family: itim;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
  --bg-img-layer: -10;
  --nav-layer: 10; 
}
/* --- Variables --- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- DARK MODE BUTTON FIX --- */

*, ::before, ::after {
  --tw-backdrop-opacity: 1;
}

/* media for desktop view menu(furniture buttons) ---------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1000px) {

  .grid-box {
    display: grid;
    padding-top: 6em;
    grid-gap: .1em;
    grid-template-columns: 7em  8em 5em 5em;
    grid-template-rows: 8em 8em 2em 8em;
    grid-template-areas:
               "cabinet chair frame lamp"
               "cabinet chair tabli lamp"
               ". carpet table ."
               "back back back back"
  }

  .table {
    height: auto;
    cursor: pointer;
  }
  .tables {
    grid-area: tabli;
    display: flex;
    align-items: flex-end;
  }
  .chair {
    max-width: 7em;
    height: auto;
    cursor: pointer;
  }
  .chairs {
    grid-area: chair;
    display: flex;
    align-items: flex-end;
  }
  .cabinet {
    height:auto;
    cursor: pointer;
  }
  .cabinets {
    grid-area: cabinet;
    display: flex;
    align-items: center;
  }
  .carpets {
    grid-area: carpet;
    display: flex;
    align-items: flex-start;
  }
  .lamp {
    height: auto;
    cursor: pointer;
    cursor: pointer;
  }
  .lamps {
    grid-area: lamp;
    display: flex;
    align-items: flex-end;
  }
  .frame {
    max-width: 3em;
    height: auto;
    cursor: pointer;
  }
  .frames {
    display: flex;
    align-items: flex-end;
    grid-area: frame;
  }

  .back-button {
    grid-area: back;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
 

}

/* media for mobile view (swiper menu, hamburger menu, livingroom gridbox) ----------------------------------------------------------- */
@media only screen and (max-width: 1000px) {

  .swiper {
    width: 14em;
    height: 22em;
  }
 
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em 1em;
    height: 22em;
  }

  .swiper-slide {
    border-radius: .7em;
    font-size: 1em;
    font-weight: bold;
    font-family: itim;
    color: black;
  }
  .swiper-slide:nth-child(1n) {
    background-color: rgb(221, 222, 231);
  }
  
  .cards {
    background-color: white;
    border-radius: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 3px;
    width: 100%;
    height: 70%;
  }
  .title {
    font-size: 1.4em;
    letter-spacing: .15em;
  }
  img {
    width:100%;
    height:80%;
  }
  .text {
    font-size: .95em;
    padding: .6em;
    line-height: 1.2em;
    text-align: center;
  }

  .grid-box {
    display: grid;
    padding-top: 6em;
    grid-gap: .1em;
    grid-template-columns: 7em  8em 5em 5em;
    grid-template-rows: 8em 8em 2em 8em;
    grid-template-areas:
               "cabinet chair frame lamp"
               "cabinet chair tabli lamp"
               ". carpet table ."
               "back back back back"
  }
  .back-button {
    grid-area: back;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table {
    height: auto;
  }
  .tables {
    grid-area: tabli;
    display: flex;
    align-items: flex-end;
  }
  .chair {
    max-width: 7em;
    height: auto;
  }
  .chairs {
    grid-area: chair;
    display: flex;
    align-items: flex-end;
  }
  .cabinet {
    height:auto;
  }
  .cabinets {
    grid-area: cabinet;
    display: flex;
    align-items: center;
  }
  .carpets {
    grid-area: carpet;
    display: flex;
    align-items: flex-start;
  }
  .lamp {
    height: auto;
  }
  .lamps {
    grid-area: lamp;
    display: flex;
    align-items: flex-end;
  }
  .frame {
    max-width: 3em;
    height: auto;
  }
  .frames {
    display: flex;
    align-items: flex-end;
    grid-area: frame;
  } 
}

/* style for hamburger ------------------------------------------------------------------------------------------------------------ */
.burger {
  margin-top: 3.15em;
}

/* media for hamburger menu ------------------------------------------------------------------------------------------------------------ */
@media only screen and (min-width: 200px ) and (max-width: 1000px){
  .burger {
    margin-top: 3.15em;
    width: 94%;
  }
}

/* style for header ------------------------------------------------------------------------------------------------------------ */
.drawer-handle {
  box-shadow: 5px 3px 5px rgb(107, 107, 117);
}
.header-name {
  font-family: 'Italianno', cursive;
  position: absolute;
  bottom: -.3em;
}
.basket {
  position: absolute;
  bottom: 0;
}

/* style for footer ------------------------------------------------------------------------------------------------------------ */
.footer-name {
  font-family: 'Brygada 1918', serif;
  font-style: italic;
}

/* style for checkboxes ------------------------------------------------------------------------------------------------------------ */
input[type='checkbox'] {
  accent-color: #555863;
}

/* style for loading ------------------------------------------------------------------------------------------------------------ */
.loading-cont {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.sk-cube-grid {
  width: 12em;
  height: 12em;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  margin: .2em;
  background-color: white;
  border: #43454E solid 3px;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}